uatappadf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "uatappadf"
		},
		"AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://uatappkeyvault.vault.azure.net/"
		},
		"AzureDataLakeStorage_JSON_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://uatadlssource.dfs.core.windows.net"
		},
		"AzureDataLakeStorage_JSON_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "492f0511-f2cc-4b1a-8d47-9b4b56ed6bec"
		},
		"AzureDataLakeStorage_JSON_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "4d8e5375-0cf7-4f92-8799-d7d8472708a4"
		},
		"AzureDataLakeStorage_Sink_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://uatadlsraw.dfs.core.windows.net"
		},
		"AzureDataLakeStorage_Sink_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "492f0511-f2cc-4b1a-8d47-9b4b56ed6bec"
		},
		"AzureDataLakeStorage_Sink_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "4d8e5375-0cf7-4f92-8799-d7d8472708a4"
		},
		"AzureDataLakeStorage_Source_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://uatadlssource.dfs.core.windows.net"
		},
		"AzureDataLakeStorage_Source_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "492f0511-f2cc-4b1a-8d47-9b4b56ed6bec"
		},
		"AzureDataLakeStorage_Source_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "4d8e5375-0cf7-4f92-8799-d7d8472708a4"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage_JSON')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage_JSON_properties_typeProperties_url')]",
					"tenant": "[parameters('AzureDataLakeStorage_JSON_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('AzureDataLakeStorage_JSON_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "SPsecret"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage_Sink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage_Sink_properties_typeProperties_url')]",
					"tenant": "[parameters('AzureDataLakeStorage_Sink_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('AzureDataLakeStorage_Sink_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "SPsecret"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage_Source')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage_Source_properties_typeProperties_url')]",
					"tenant": "[parameters('AzureDataLakeStorage_Source_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('AzureDataLakeStorage_Source_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "SPsecret"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary_Sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage_Sink",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container_sink": {
						"type": "string"
					},
					"File_name_sink": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().File_name_sink",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container_sink",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage_Sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage_Source",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container_source": {
						"type": "string"
					},
					"directory_source": {
						"type": "string"
					},
					"File_name_source": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().File_name_source",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory_source",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container_source",
							"type": "Expression"
						}
					},
					"compression": {
						"type": "ZipDeflate",
						"level": "Optimal"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataset_CSV_Sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage_Sink",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"File_name_sink": {
						"type": "string"
					},
					"container_sink": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().File_name_sink",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container_sink",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage_Sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataset_CSV_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage_Source",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container_source": {
						"type": "string"
					},
					"directory_source": {
						"type": "string"
					},
					"File_name_source": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().File_name_source",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory_source",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container_source",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage_JSON",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Table_Source_Datalake.json",
						"fileSystem": "manual-files"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"File_name_source": {
							"type": "string"
						},
						"container_source": {
							"type": "string"
						},
						"directory_source": {
							"type": "string"
						},
						"File_name_sink": {
							"type": "string"
						},
						"container_sink": {
							"type": "string"
						},
						"directory_sink": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage_JSON')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CPY_Source')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_source",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Json1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_source",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_source').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(split(item().File_name_source, '.')[1], 'csv')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Copy data_Zip",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings",
															"compressionProperties": {
																"type": "ZipDeflateReadSettings"
															}
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "Binary_Source",
														"type": "DatasetReference",
														"parameters": {
															"container_source": {
																"value": "@item().container_source",
																"type": "Expression"
															},
															"directory_source": {
																"value": "@item().directory_source",
																"type": "Expression"
															},
															"File_name_source": {
																"value": "@item().File_name_source",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "Binary_Sink",
														"type": "DatasetReference",
														"parameters": {
															"container_sink": {
																"value": "@item().container_sink",
																"type": "Expression"
															},
															"File_name_sink": {
																"value": "@item().File_name_sink",
																"type": "Expression"
															}
														}
													}
												]
											}
										],
										"ifTrueActivities": [
											{
												"name": "Copy data_CSV",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Dataset_CSV_Source",
														"type": "DatasetReference",
														"parameters": {
															"container_source": {
																"value": "@item().container_source",
																"type": "Expression"
															},
															"directory_source": {
																"value": "@item().directory_source",
																"type": "Expression"
															},
															"File_name_source": {
																"value": "@item().File_name_source",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "Dataset_CSV_Sink",
														"type": "DatasetReference",
														"parameters": {
															"File_name_sink": {
																"value": "@item().File_name_sink",
																"type": "Expression"
															},
															"container_sink": {
																"value": "@item().container_sink",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Json1')]",
				"[concat(variables('factoryId'), '/datasets/Binary_Source')]",
				"[concat(variables('factoryId'), '/datasets/Binary_Sink')]",
				"[concat(variables('factoryId'), '/datasets/Dataset_CSV_Source')]",
				"[concat(variables('factoryId'), '/datasets/Dataset_CSV_Sink')]"
			]
		}
	]
}